@import 'reset.css';
@import 'fonts.css';
@import 'table.css';
@import 'slides.css';

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #3498db;
}

#main-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.row {
  text-align: center;
  margin-bottom: 10px;
}

.label, .value {
  vertical-align: middle;
  height: 150px;
}

.label {
  text-transform: uppercase;
  color: #eee;
  font-size: 33px;
  text-align: right;
  padding-right: 10px;
  padding-left: 20px;
  background-color: #2980b9;
  line-height: 150px;
}

@keyframes vibrate {
  1% {
    transform: translate(1.5px, 2.5px) rotate(-1deg);
  }
  50% {
    transform: translate(3.5px, 0.5px) rotate(-2deg);
  }
  100% {
    transform: translate(0.5px, -1.5px) rotate(1deg);
  }
}

.value input {
  height: 150px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  opacity: 0.9;
  border: 5px solid #fff;
}

.value input.error {
  animation-duration: 100ms;
  animation-iteration-count: 2;
  animation-name: vibrate;
  border: 5px solid #F01F0A;
}

.value:nth-child(even) input.error {
  animation-direction: reverse;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #e67e22;
  padding: 30px 40px;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  width: 200px;
}

.btn:hover {
  background-color: #d35400;
}

.result-box {
  background-color: #fff;
  margin: 20px 10px;
  height: 100px;
  width: 22%;
  box-sizing: border-box;
  text-align: center;
  padding: 25px;
}

.result-box-value {
  display: block;
}
